# gflownet
bengio2021flow_proxy.pkl.gz

# rxnflow
logs/
experiments/data/building_blocks/*
experiments/data/envs/*
experiments/data/stock/*
experiments/data/experiments/*
experiments/data/complex/*
experiments/analysis/
experiments/LIT-PCBA/*
experiments/CrossDocked2020/*
unidock_2025*
experiments/data/CrossDocked2020/
experiments/data/LIT-PCBA/

# semlaflow
.gvp_cache/
docking_pipeline/
experiments/data/test/LIT-PCBA/*/pocket*.pdb
experiments/data/test/LIT-PCBA/*/*.pdbqt
**/weights/*.ckpt
tony/v0/notebooks/
tony/v1/temp/
result/
evaluation_results/

# pharmaconet
PharmacoNet/
# running
weights/
weights.tar
experiments/data/test/

# package
build/

# Log files
wandb/
molproc_logs/
lightning_logs/
notebooks/lightning_logs/
nohup.out
*job*.out

# Slurm submission scripts and logs
subslurm/
slurmlog/
slurm-*
job.sh

*.profile
*.egg-info
uv.lock

# Editors
.vscode/
typings/

# Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/

# Python cache files
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc

*.zip
*.tar.gz

# experimental code
src/app
weights
